<a href="https://colab.research.google.com/github/BaquiranCharlesJustin/Numerical-Methods-58012/blob/main/Control_and_Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statement

In [44]:
a = 23
b = 50

if b>a:
  print("b is greater than a")

b is greater than a

If....Elif Statements

In [1]:
a = 1000
b = 1000

if b>a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else Statement

In [47]:
a = 100
b = 10

if b>a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("b is less than a")

b is less than a

Short Hand If Statement

In [45]:
if a>b: print("a is greater than b")

Shorthand If...Elif Statement

In [46]:
print("b is greater than a") if b>a else print("a is greater than b")

b is greater than a

And-if both conditions are true

In [42]:
a = 525
b = 34
c = 67

if a>b and c>b:
  print("both conditions are true")

both conditions are true

Or-If one of the operands is true

In [49]:
if a>b or b>c:
  print("one condition is true")

one condition is true

Nested If

In [48]:
x =int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("x is above 20")
    if x>30:
     print("x is above 30")
     if x>40:
       print("x is above 40")
       if x>50:
         print("x is above 50")
       else:
           print("x is below 50")
else:
  print("x is below 10")

5
x is below 10

Application 1

In [50]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

1
You are not qualified to vote

Application 2

In [51]:
x = int(input())

if x>0:
  print("x is a positive number")
elif x==0:
  print("x is equal to zero")
else:
  print("x is a negative number")

23
x is a positive number

Application 3

In [41]:
##Grade >=70 = "Passed"
##Grade = 64 to 69 "Remedial"
#Grade < 64 "Failed"

grade = int(input())


if grade >= 70:
  print("Passed")
elif grade < 64:
  print("Failed")
else:
  print("Remedial")

62
Failed

In [52]:
num = '10'
  
# check and print type num variable
print(type(num)) 
  
# convert the num into string 
converted_num = int(num)
  
# print type of converted_num
print(type(converted_num))
  
# We can check by doing some mathematical operations
print(converted_num + 20)

<class 'str'>
<class 'int'>
30

For Loop

In [53]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [54]:
for x in week:
    print(x)
    if x == "Friday":
     break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

Looping through a string

In [55]:
for x in "Week":
  print(x)

W
e
e
k

Range() Function

In [56]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [57]:
for x in range (2,6):
  print(x)

2
3
4
5

While Loop

In [58]:
i = 1
while i<6:
 print(i)
 i+=1

1
2
3
4
5

Break Statement

In [59]:
i = 1

while i<6:
 print(i)
 if i == 3:
   break
 i+=1

1
2
3

Continue Statementi = 1

In [60]:
i = 1

while i<6:
  i+=1
  if i == 3:
   continue
  print(i)

2
4
5
6